body {
    background-color:#780000;
}

.main {
    display: flex;
}

.container {
    width: 400px;
    background-color:#c1121f;
    padding: 1em;
}

.styled-hr {
    border: 0;
    height: 4px;
    background: rgb(102, 27, 27);
    margin: 20px 0;
}

.styled-hr2 {
    border: 0;
    height: 4px;
    background: black;
    margin: 20px 0;
}

.title {
    text-decoration: underline;
    color: #6d1616;
}

.title-1 {
    text-decoration: underline;
    color: #6d1616;
}

.personalDetails,
.workExperience,
.ContactDetails {
    margin-left: 2.5em;
    color: #6b9080
}

.container2 {
    padding-left: 2em;
    width: 100%;
}

.param-text {
    font-family: 'Arial Narrow', Arial;
    font-weight: bold;
    font-size: larger;
}

.Skills {
    margin-left: 2.5em;
    color: black;
}

.Languages{
    margin-left: 2.5em;
    color: black;
}


h4 {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .main {
        display: block;
    }
    .container,
    .container2 {
        width: 90%;
    }
}

