body {
    background-color: #474747;
    font-family: 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    justify-content: center;
    padding: 2em;
}

.container, .container2 {
    background-color: #c1121f;
    padding: 2em;
    margin: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%;
}

h2 {
    font-size: 1.5em;
    color: #333;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto 1em;
    border-radius: 50%;
}

.styled-hr, .styled-hr2 {
    border: none;
    height: 4px;
    background: #333;
    margin: 20px 0;
}

.title, .title-1 {
    font-size: 1.2em;
    color: #c1121f;
    text-decoration: underline;
    margin-bottom: 0.5em;
}

.personal-details, .contact-details, .skills, .work-experience, .languages, .education, .references {
    margin-bottom: 2em;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 0.5em;
}

strong {
    color: #333;
}

@media screen and (max-width: 600px) {
    .main {
        display: block;
    }
    .container, .container2 {
        width: 90%;
        margin: 0 auto;
    }
}
